body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5em;
  color: #101a28;
}

p {
  margin: 0;
}

button {
  border: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 36px 68px;

  border-radius: 20px;
  background: #eff1e9;
  font-size: 17px;
  line-height: 1.4em;
}

.title {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 56px;
  line-height: 1.22em;
  text-align: center;
}

.discription {
  width: 870px;
  max-width: 100%;
  margin-bottom: 50px;

  text-align: center;
}

.select {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 606px;
  height: 100%;

  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
}

.selectDiscription {
  margin-bottom: 10px;
  padding: 0 18px;

  text-align: left;
  color: #101a28;
}

.selectedOptions {
  padding: 23px 18px;
  width: 100%;
  max-width: 570px;

  background-color: #fff;
  color: #57677d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: border 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.selectedOptions:focus,
.selectedOptions:active {
  padding: 5px 18px 41px 18px;
  border: 1px solid #101a28;
}

.selectedOptions::placeholder,
.selectedOptions::placeholder {
  cursor: pointer;
  font-size: 16px;
  line-height: 1.4em;
  color: #57677d;
  transition: font-size 0.3s ease-in-out;
}

.selectedOptions:active::placeholder,
.selectedOptions:focus::placeholder {
  font-size: 14px;
}

.industryList {
  display: none;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  max-height: 150px;

  background-color: #fff;
  border: 1px solid #ccc;
  color: #57677d;
  border-top: none;
  border-radius: 0 0 5px 5px;
  overflow-y: auto;
}

.industryList label {
  display: block;
  padding: 8px 10px;

  cursor: pointer;
}
